/* Estilo geral do footer */
footer {
    background-color: #58a1f4; /* Cor de fundo do footer */
    color: white; /* Cor do texto */
    padding: 20px 10px; /* Ajustando o padding para que o footer ocupe toda a largura da tela */
    width: 100%; /* Garantindo que o footer ocupe toda a largura da tela */
    box-sizing: border-box; /* Para garantir que o padding não afete a largura */
    text-align: center;
}

/* Estilo para os links e o conteúdo dentro da div .social */
footer .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Responsividade para telas menores */
@media (max-width: 768px) {
    footer {
        padding: 15px 5px; /* Ajustando o padding em telas menores */
    }

    footer .social {
        flex-direction: column; /* Garantir que os itens fiquem empilhados */
        align-items: center; /* Centralizar os itens */
    }

    footer .social iframe,
    footer .social a {
        font-size: 14px; /* Ajustando o tamanho da fonte */
    }

    footer .social .local {
        width: 15px; /* Diminuindo o tamanho da imagem */
        height: 15px; /* Diminuindo o tamanho da imagem */
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    footer {
        padding: 10px 5px; /* Reduzindo o padding ainda mais em telas muito pequenas */
    }

    footer .social iframe,
    footer .social a {
        font-size: 12px; /* Ajuste para telas menores */
    }
}
