<main>
  <section id="turmas">
    <!-- Seção de turmas, pode adicionar conteúdo aqui -->
  </section>

  <article class="a1">
    <div class="a1-1">
      <h1>Relato Pet Em Casa.</h1>
      <p>Olá, AUmigos! Vou contar um pouco da nossa chegada até aqui.</p>
      <p class="texto">
        Um dia minha amiga precisou viajar e eu fiquei de ajudar com os filhos pet dela. Tina fazia químio e os outros iam ao médico quando necessário. Fiquei preocupada com a distância, pois teria que acompanhá-los por 40 dias. Foi assim que surgiu a oportunidade de abrir um hotelzinho, e minha amiga amou a ideia! Mas eu não tinha conhecimento na área pet, só amor pelos peludos. Busquei conhecimento e hoje temos uma equipe especializada para cuidar e acompanhar o dia a dia dos peludos.
      </p>
    </div>

    <div class="a1-img">
      <img src="assets/logo.jpeg" alt="Logo do Pet em casa" class="pet-image" />
    </div>
  </article>

  <article id="a2" class="a1">
    <div id="a1-2">
      <h1>Missão e Valores</h1>
      <p class="missao">Proporcionar bem-estar, sociabilização, carinho, qualidade de vida, muita diversão e segurança aos animais.</p>
      <p class="visao">Ser referência no segmento creche | Hotel | Estética para Pets</p>
      <p class="valores">Respeito, Transparência, Dedicação e Responsabilidade.</p>
    </div>
    <div class="a1-img">
      <div class="a1-imgs">
        <img src="assets/bob4.jpg" alt="Imagem missão 1" class="pet-image" />
        <img src="assets/golden.jpeg" alt="Imagem missão 2" class="pet-image" />
       
      </div>
    </div>
  </article>
</main>

